openapi: 3.0.1
info:
  title: VCV chatbot countries API
  description: open api
  version: v3
servers:
- url: https://my.vcv.ai
- url: https://my.vcv.ru
- url: '{hostname}'
  variables:
    hostname:
      default: http://localhost:8080
security:
- bearerAuth: []
tags:
- name: countries
paths:
  /api/v3/countries:
    get:
      description: Get countries list
      tags:
      - countries
      parameters:
      - $ref: '#/components/parameters/pagination_page'
      - $ref: '#/components/parameters/pagination_page_size'
      - name: filter[code]
        in: query
        description: Country code filter
        required: false
        schema:
          type: string
      responses:
        '200':
          description: list of countries
          content:
            application/json:
              schema:
                properties:
                  _total_items:
                    type: integer
                  _page:
                    type: integer
                  _page_count:
                    type: integer
                  _links:
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            format: uri
                      next:
                        type: object
                        properties:
                          href:
                            type: string
                            format: uri
                      last:
                        type: object
                        properties:
                          href:
                            type: string
                            format: uri
                    type: object
                  _embedded:
                    type: object
                    properties:
                      countries:
                        type: array
                        items:
                          $ref: '#/components/schemas/Country'
                type: object
  /api/v3/countries/{id}:
    get:
      description: Get country detail
      tags:
      - countries
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Agreement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
components:
  parameters:
    pagination_page:
      name: page
      in: query
      description: page number
      required: false
      schema:
        type: integer
        default: 1
    id:
      name: id
      in: path
      description: entity id
      required: true
      schema:
        type: integer
    pagination_page_size:
      name: limit
      in: query
      description: page size
      required: false
      schema:
        type: integer
        default: 20
  schemas:
    Country:
      properties:
        id:
          type: integer
        code:
          type: string
        title_en:
          type: string
        title_ru:
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
